* {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/************************************************/

#CUA_SO_PET {
    background: white;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#CUA_SO_PET div {
    color: #634832;
    margin: 0.1%;
    font-weight: bold;
    font-size: 50px;
}

h1 {
    margin: 20px;
}

/**********************************************/

#CUA_SO_MENU {
    margin-bottom: 50px;
}

.Mat_hang {
    overflow: hidden;
    width: 280px;
    height: 300px;
    margin: 20px;
    margin-right: 20px;
    float: left;
}

.Hinh_anh {
    width: 100%;
    height: 80%;
}

.Thong_tin {
    font-weight: bold;
    color: #38220f;
}

.Doanh_thu_Mat_hang {
    font-weight: bold;
    color: rgb(139, 0, 0);
}

/*********************************************/

#CUA_SO_TRA_CUU {
    background: rgb(230, 193, 115);
    position: fixed;
    height: 7vh;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#Nhap_Tra_cuu {
    margin: 0.5vh;
    margin-left: 40px;
    height: 6vh;
    width: 20%;
    float: left;
    background: #dbc1ac;
    font-weight: bold;
}

#Nut_Tra_cuu {
    margin: 0.5vh;
    margin-left: 20px;
    height: 6vh;
    float: left;
    background: #dbc1ac;
    font-weight: bold;
}

#Th_Ket_qua_Tra_cuu {
    margin: 0.5vh;
    float: left;
    font-weight: bold;
    font-size: 2.5vh;
}

#Th_Doanh_thu_Nha_hang {
    margin: 1vh;
    float: right;
    font-weight: bold;
    color: rgb(139, 0, 0);
    font-size: 4vh;
}