#danh-sach-mat-hang{
    padding-top: 35vh;
    margin-left: 5vw;
    margin-bottom: 10px;
}
.item{
    margin: 0 2px 2px 2px;
    display: block;
    float: left;
    width: 30vw;
    min-width: 50px;
    border: solid 1px;
    background-color: beige;
}
ul img{
    width: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}